* {
    box-sizing: border-box;
}



.container {
    width: 800px;
    height: 800px;
    overflow: hidden;
    background-color: #93ab08;
    margin: auto;
    padding: 10px;
}

.section1 {
    width: 100%;
    height: 150px;
    background-color: aqua;
}

.section-left {

    width: 65%;
    height: 600px;
    margin-top: 10px;
    float: left;
}

.section-l-box1 {
    background-color: purple;
    width: 100%;
    height: 200px;
    box-sizing: border-box;


}

.section-l-box1 :first-child {
    width: 38%;
    background-color: blanchedalmond;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    height: 95%;
}

.section-l-box1 :last-child {
    width: 59%;
    background-color: rgb(131, 84, 13);
    height: 95%;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;

}

.section-l-box2 {
    background-color: rgb(152, 134, 152);
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.section-l-box2 :first-child {
    width: 38%;
    background-color: blanchedalmond;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    height: 95%;
}

.section-l-box2 :last-child {
    width: 59%;
    background-color: rgb(131, 84, 13);
    height: 95%;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;

}

.section-l-box3 {
    background-color: rgb(103, 129, 119);
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.section-l-box3 :first-child {
    width: 38%;
    background-color: blanchedalmond;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    height: 95%;
}

.section-l-box3 :last-child {
    width: 59%;
    background-color: rgb(131, 84, 13);
    height: 95%;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;

}


.section-right {
    width: 34%;
    height: 600px;

    float: left;
    margin-top: 10px;
    margin-left: 1%;
}

.section-right :first-child {

    background-color: rgb(212, 176, 15);
    width: 100%;
    height: 200px;

}

.section-right :nth-child(2) {

    background-color: rgb(224, 112, 7);
    width: 100%;
    height: 200px;
    margin-top: 10px;

}

.section-right :last-child {

    background-color: rgb(47, 38, 207);
    width: 100%;
    height: 200px;
    margin-top: 10px;

}





/* .section-left :first-child {
    background-color: bisque;
    width: 100%;
    height: 200px;

}

.section-left :nth-child(2) {
    width: 100%;
    height: 200px;
    background-color: rgb(121, 76, 21);
    margin-top: 10px;

}

.section-left :last-child {
    width: 100%;
    height: 200px;
    background-color: blue;
    margin-top: 10px;
} */